body {
	font-family: sans-serif;
	color: #8B8B8B;
	font-weight: lighter;
}

#header {
	height: 10%;
}

nav	{
	background-color: #B2B2B2;
	color: white;
	padding-left: 15%;
	height: 5%;
	display: flex;
	align-items: center;
}

nav ul {
	padding-left: 20px;
}

nav li {
	display: inline-block;
	padding-right: 2.5em;
}

#content {
	width: 70%;
	margin: auto;
}

header h3 {
	margin-top: 5%;
	margin-bottom: 0;
	color: #3A5EAC;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: #3A5EAC;
	font-size: 2em;
}

hr {
	color: #3A5EAC;
}

#product {
	display: inline-block;
}

#product img {
	height: 280px;
}

#description {
	display: inline-block;
	position: relative;
	top: -120px;
	left: 20px;
}

#description h3:nth-child(1) {
	margin-bottom: 0;
	color: #3A5EAC;
}

#description h3:nth-child(2) {
	margin-top: 0;
	font-weight: lighter;
}

.keyword {
	color: #3A5EAC;
	font-weight: bold;
}

.entry .quotes{
	display: inline-block;
	width: 40%;
}

.entry .book {
	display: inline-block;
}

.section-header {
	text-align: center;
	color: black;
}

#doc {
	width: 40%;
	float: right;
	box-shadow: 5px 5px 5px 5px #C4C4C4;
}

#doc h1 {
	color: #3A5EAC;
	text-align: center;
}

#doc span {
	color: black;
	font-weight: bold;
}

#doc-content {
	width: 80%;
	margin: auto;
}

#headshot {
	width: 80%;
	margin: auto;
}	

.media {
	display: inline-block;
	width: 50%;
}

.testimonial .quotes {
	width: 45%;
	display: inline-block;
	position: relative;
	top: -5em;
	left: 2em;
}

.faq h3 {
	color: black;
}

.highlight {
	color: black;
	font-weight: bold;
}

.ingredient {
	color: #3A5EAC;
	font-weight: bold;
}

#filler {
	width: 100%;
	box-shadow: 5px 5px 5px 5px #C4C4C4;
}

#bar {
	background-color: #D5D5D5;
	height: 5%;
}

#bar h1	{
	display: inline;
	color: #3A5EAC;
}

#bar p {
	display: inline;
	color: black;
	font-weight: bold;
}

#all-ingredients {
	color: black;
	font-weight: bold;
}

.blue {
	color: #3A5EAC;
}

#pic-bottom {
	display: inline-block;
	width: 25%;
}

#info-bottom {
	display: inline-block;
	width: 50%;
}

button {
	background-color: #3A5EAC;
	color: white;
	width: 40%;
	height: 5%;
}