body {
	font-family: Helvetica;
	color: #8B8B8B;
	font-weight: lighter;
}

#header {
	height: 10%;
	display: flex;
	align-items: center;
}

#searchbar {
	margin-left: 70%;
}

.search {
	background-color: #B2B2B2;
	color: white;
	border: 0;
}

nav	{
	background-color: #B2B2B2;
	color: white;
	padding-left: 15%;
	height: 5%;
	display: flex;
	align-items: center;
}

nav ul {
	padding-left: 20px;
}

nav li {
	display: inline-block;
	padding-right: 2.5em;
}

#content {
	width: 70%;
	margin: auto;
}

header h3 {
	margin-top: 5%;
	margin-bottom: 0;
	color: #3A5EAC;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: #3A5EAC;
	font-size: 2em;
}

hr {
	color: #3A5EAC;
}

#product {
	display: inline-block;
}

#product img {
	height: 280px;
}

#description {
	display: inline-block;
	position: relative;
	top: -120px;
	left: 20px;
}

#description h3:nth-child(1) {
	margin-bottom: 0;
	color: #3A5EAC;
}

#description h3:nth-child(2) {
	margin-top: 0;
	font-weight: lighter;
}

.keyword {
	color: #3A5EAC;
	font-weight: bold;
}

#horizontal {
	width: 60%;
	text-align: right;
	position: relative;
	z-index: -1;
	top: -100px;
}

#bluebar {
	background-color: #3A5EAC;
}

#bluebar h3 {
	display: inline-block;
	color: white;
}

#arrow {
	display: inline-block;
	color: #3A5EAC;
	background-color: white;
}

#rightside {
	width: 25%;
	float: right;
}

.orders {
	box-shadow: 5px 5px 5px 5px #C4C4C4;
}

.orders h4 {
	margin: 0;
}

.orders h5 {
	margin: 0;
}
.orders form {
	margin-bottom: 0;
	height: 10%;
}

#best-value {
	background-color: #3A5EAC;
	color: white;
	text-align: center;
}

#spotlight {
	background-color: #CAE4FD;
}

.order-header {
	background-color: #D5D5D5;
	color: black;
	text-align: center;
}

.total {
	color: #3A5EAC;
	display: inline;
}

.entry {
	height: 250px;
	width: 70%;
	display: flex;
	align-items: center;
}

.entry .quotes{
	display: inline-block;
	width: 70%;
	background: url('assets/quotes.png');
	background-repeat: no-repeat;
}

.entry .quotes .quote-box {
	padding: 5px 50px 0 45px;
}

.entry .book {
	display: inline-block;
}

.section-header {
	text-align: center;
	color: black;
}

#doc {
	width: 40%;
	float: right;
	box-shadow: 5px 5px 5px 5px #C4C4C4;
}

#doc h1 {
	color: #3A5EAC;
	text-align: center;
}

#doc span {
	color: black;
	font-weight: bold;
}

#doc-content {
	width: 80%;
	margin: auto;
}

#headshot {
	width: 80%;
	margin: auto;
}	

.media {
	display: inline-block;
	width: 50%;
}

.testimonial .quotes {
	width: 45%;
	display: inline-block;
	position: relative;
	top: -5em;
	left: 2em;
}

.faq h3 {
	color: black;
}

.highlight {
	color: black;
	font-weight: bold;
}

.ingredient {
	color: #3A5EAC;
	font-weight: bold;
}

#filler {
	width: 100%;
	box-shadow: 5px 5px 5px 5px #C4C4C4;
}

#bar {
	background-color: #D5D5D5;
	height: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#bar h1	{
	display: inline;
	color: #3A5EAC;
}

#bar p {
	display: inline;
	color: black;
	font-weight: bold;
}

#all-ingredients {
	color: black;
	font-weight: bold;
	padding: 15px 20px 10px 20px;
}

.blue {
	color: #3A5EAC;
}

#pic-bottom {
	display: inline-block;
	width: 25%;
}

#info-bottom {
	display: inline-block;
	width: 50%;
}

.order {
	background-color: #3A5EAC;
	color: white;
	width: 40%;
	height: 5%;
}